<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <title>Notes</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="/static/bower_components/angular/angular.js" type="text/javascript"></script>
</head>

<body class="container">
<div class="jumbotron">
    <h1>Notes</h1>
</div>
<div ng-app="Notes">
    <div ng-controller="MainCtrl as ctrl">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Notes</span>
            </div>

            <div class="panel-body">
                <form name="addNoteForm" ng-submit="addNoteForm.$valid && ctrl.add()" class="form-horizontal"
                      novalidate>
                    <div class="form-group">
                        <div class="col-xs-11">
                            <input required maxlength="100" type="text" class="form-control" id="note"
                                   ng-model="ctrl.model.currentNote"
                                   placeholder="Start typing...">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Note</th>
                <th>
                    <a href="#" ng-click="ctrl.sort()"
                       ng-class="[col-sm-4, {'glyphicon glyphicon-chevron-down' : ctrl.paging.desc}, {'glyphicon glyphicon-chevron-up' : !ctrl.paging.desc}]">Date</a>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="note in ctrl.model.notes">
            <tr>
                <td class="col-sm-8">{{note.data}}</td>
                <td class="col-sm-4">{{note.dateCreated | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination">
            <li ng-class="[{'disabled' : n == ctrl.paging.currentPage}]" ng-repeat="n in ctrl.paging.pages">
                <a ng-click="ctrl.getAll(n)">{{n}}</a>
            </li>
        </ul>
    </div>
</div>
<script src="/static/js/app.js" type="application/javascript"></script>
</body>
</html>